{% extends 'pages/main.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class=" card mb-3">
            <div class="row">
                
                {% for movie in  movies %}
                    <div class="col-md-3 mt-2">
                        <img class="card-img-start" src="{{movie.img.url}}" alt="resim burada">
                    </div>
                    <div class="col-md-9">
                        <div class="  card-body">
                            <div class="card-title"> {{movie.id}}</div>
                            <a class="card-title card-link" href="{% url 'about' movie.id %}">{{movie.name}}</a>
                            <p class="card-text">{{movie.description}}</p>
                            <p class="card-text">
                                <small class="text muted">{{movie.created_date}}</small>
                            </p>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </div>
</div>



{% endblock content %}